@model MVC_Party.Models.Guests

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reservar</title>
</head>
<body>
    <div>
        <!-- Inicializa un form -->

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary() //Mostrar los mensajes de validacion.
                                    <p> Ingrese su Nombre: @Html.TextBoxFor(x => x.Nombre, "", new { @style = "color:purple;", @placeholder = "Enter your name", @type = "text" })       </p> <!-- Crear un textBox para el form, (x => x.Nombre)  se refiere al modele que esta vinculado-->
                                    <p> Ingrese su Celular: @Html.TextBoxFor(x => x.Celular,"", new { @required = "required", @type = "number" })     </p>
                                    <p> Ingrese su Correo: @Html.TextBoxFor(x => x.Email, "", new { @type = "email" })        </p>
                                    <p> Asistira?: @Html.DropDownListFor(x => x.Asistencia, new[]
                                              {
                                                  new SelectListItem() { Text = "Si, voy a asistir", Value = bool.TrueString},
                                                  new SelectListItem() { Text = "No, no voy a asistir", Value = bool.FalseString}
                                              }  ,new { @style="color:purple;" })
                                    </p>
                                    <div style="text-align:center; font-size:large">
                                        <input type="submit" value="Confirmar" />
                                    </div>
        }
    </div>
</body>
</html>
