@model Libreria.Models.digital

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orden Digital</title>
</head>
<body>
    @Html.ActionLink("Hogar", "Index")
    <div style="text-align:center">
        @using (Html.BeginForm())
            {
            @Html.ValidationSummary()
            <h1> Libro de Tipo Digital </h1>
                <h2> Ingrese los datos del Libro </h2>


            <!-- Form para los Datos del libro de tipo Tradicional -->

            <label for="nombre"> Nombre del Libro </label>
            <br>
                @Html.TextBoxFor(x => x.codigo, "", new { @placeholder = "Ingrese el Codigo del Libro", @size = "32", @id = "nombre" })
                <br>
                <br>
            <label for="titulo">Titulo del Libro </label>
            <br>
            @Html.TextBoxFor(x => x.titulo, "", new { @placeholder = "Ingrese el Titulo del Libro", @size = "32", @id = "titulo" })
                <br>
                <br>
            <label for="autor"> Autor del Libro </label>
            <br>
            @Html.TextBoxFor(x => x.nombre, "", new { @placeholder = "Ingrese el Nombre del Auto del Libro", @size = "32", @id = "autor" })
                <br>
                <br>

            <label for="neto"> Precio Neto </label>
            <br>
            @Html.TextBoxFor(x => x.precioCompra, "", new { @placeholder = "Ingrese el precio de Compra del Libro", @size = "32", @id = "neto" })
                <br>
                <br>
            <label for="tamaño"> Tamaño del Archivo </label>
            <br>
            @Html.TextBoxFor(x => x.tamaño, "", new { @placeholder = "Ingrese el tamaño (en MB) del libro", @size = "32", @id = "tamaño" })
               
                <br>
                <br>
                <input type="reset" value="Limpiar">
                <input type="submit" value="Realizar Pedido">
            }
    </div>
</body>
</html>
